//- Declaration

mixin list(data)
	ul(class= blockName + '__section')
		each obj in data
			+item(obj)
		li(class= blockName + '__placeholder') Ваш список пуст

mixin item(obj)
	if obj.name
		li(class= blockName + '__item' data-idx=obj.address.join('.') )
			span(class= blockName + '__item_del') &times;
			if obj.url
				+link(obj)
			else
				+title(obj)
			if obj.children
					+list(obj.children)

mixin link(obj)
	a(href= obj.url class= blockName + '__link' target='_blank')= obj.name

mixin title(obj)

	span(class= blockName + '__item_add') &plus;
	span(
		class= blockName + '__title')(
		class= (obj.children && obj.children.length && obj.state == 'open') ? blockName + '__section_title_open' : '' )(
		class= (obj.children && obj.children.length) ? blockName + '__section_title' : '' )
			= obj.name

//- Use

+list(data)
